/InSiteApp/InSiteApp/bin
/InSiteApp/InSiteApp/obj
*.user
.vs
/InSiteApp/packages
*.sdf
/InSiteApp/CardServiceSetup/obj
/InSiteApp/CardServiceSetup/bin
/InSiteApp/CardServiceSetup/Source/nssm.exe
/InSiteApp/CardServiceSetup/Source/CardServer.jar
/InSiteApp/CardServiceSetup/Source/CardServer.log
/InSiteApp/nssm/out
/InSiteApp/nssm/tmp
/InSiteApp/nssm/MSG*.bin
*.TMP
*.opensdf
.metadata
RemoteSystemsTempFiles
com.zeppelin.insite.cardsocket/target