<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--<add name="Insite_Dev_ConnectionString" connectionString="Data Source=10.6.20.11,1433;Network Library=DBMSSOCN;Initial Catalog=Insite_Dev;Integrated Security=False;User ID=insite3;Password=0xyzeppelin!;Connect Timeout=300;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>-->
  <connectionStrings configSource="ConnectionStrings.config" xdt:Transform="Replace">
  </connectionStrings>
  <appSettings file="AppSettingsSecrets.config" xdt:Transform="SetAttributes">
    <add key="SignalRHubs" value="https://zbl-insite.de:9080/signalr/hubs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="UseEmail" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MailServer" value="smtp.avency.de" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="SMTPUser" value="insite@zbl-insite.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <!--<add key="SMTPPwd" value="QKk!Bwkw2fV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="SMTPUser" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="SMTPPwd" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="SMTPFrom" value="InSite@zbl-insite.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ViewsUrl" value="https://zbl-insite.com/InSiteApp/Views" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LogRoot" value="D:\InSite 3\Logging\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReportServerUrl" value="http://10.6.20.11/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="ReportServerUser" value="InSite" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <!--<add key="ReportServerPwd" value="0xyzeppelin!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
    <add key="ReportServerUser" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="ReportServerPwd" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="ReportServerDomain" value="10.6.20.11" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PageInspector:ServerCodeMappingSupport" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState mode="InProc" cookieless="false" timeout="60" xdt:Transform="Replace"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportingService2010Soap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_IUserService" address="http://localhost/InsiteServices/UserService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IAccessService" address="http://localhost/InsiteServices/AccessService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IAdminService" address="http://localhost/InsiteServices/AdminService.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="ReportingService2010Soap" address="http://10.6.20.11:80/ReportServer/ReportService2010.asmx" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      <endpoint name="BasicHttpBinding_IContainerManagement" address="http://localhost/InsiteServices/ContainerManagement.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
  <system.diagnostics xdt:Transform="Remove" />
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="d:\InSite 3\Logging\InSiteApp.log" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <connectionString value="data source=10.6.20.11;initial catalog=Insite_Dev;integrated security=true;persist security info=True" xdt:Transform="Replace" />
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender" xdt:Transform="Insert">
      <to value="DSchmidt@Trippe-Beratung.de" />
      <from value="InSite@insite3.de" />
      <subject value="zbl-insite.com InSite App Log" />
      <smtpHost value="www.insite3.de" />
      <port value="25" />
      <authentication value="Basic" />
      <username value="InSite" />
      <password value="haribo" />
      <bufferSize value="1" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] [%property{SessionID}] [%property{LoginName}] %-5p %c %m%n" />
      </layout>
    </appender>
    <!--<root>
      <appender-ref ref="SmtpAppender" xdt:Transform="Insert"/>
    </root>-->
  </log4net>
</configuration>